body {
    padding: 20px;
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #eee;
}
h2 {
    font-weight: normal;
}

.blog-footer {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 50px;
    padding-top: 10px;
}

.sidebar {
    position: fixed;
    top: 10px;
    left: 40px;
    width: 150px;
}

.main-section {
    float:left;
    margin-left: 100px;
    max-width: 800px;
    width: 60%;
}

.page-wrapper {
    margin-left: 80px;
}

.page-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.blog-header {
    margin-bottom: 40px;
}

.blog-title {
    margin-bottom: 18px;
    font-size: 1.5em;
    letter-spacing: 6px;
    font-weight: bold;
}

.navlink {
    width: 100%;
    display:block;
}

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    margin-top: 0;
    margin-bottom: 0;
}
.blog-post-meta {
    margin-top: 0;
    margin-bottom: 36px;
}
.post-center {
    text-align: center;
}

img {
    width: 600px;
    max-width: 100%;
}

a {
    color: black;
    text-decoration:none;
}